.content-body{
  border-left: 8em solid lightgray;
  border-right: 8em solid lightgray;
  padding: 0 6em;
}

body{
  background-color: whitesmoke;
}

.underline{
  padding-bottom: 2em;
  border-bottom: 2px solid lightgray;
  margin-bottom: 2em;
}

.box{
  border: 2px solid lightgray;
  padding-left: 2em;
  padding-right: 2em;
}

.seperate{
  margin: 2em 0em 2em 0em;
  padding: 2em 0;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 35px;
}

h3{
  font-family: sans-serif;
  font-size: 22px;
}

p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.8em;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

a{
  color: black;
}