 body {
  background-color: whitesmoke;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 16px;
 }


 h1 {
  font-size: 28px;
  font-weight: 500;
  border-bottom: 1px solid black;
 }

 h2 {
   font-size: 24px;
   font-weight: 500;
  border-bottom: 1px solid black;
 }

 p{
  color: #444;
  font-size: 15px;
  line-height: 1.3em;
 }
 
 div{
  background-color: beige;
  padding: 0.8em;
  border: 1px solid lightgray;
 }