* {
  margin: 0%;
}

body {
  background-color: #020000;
  background: linear-gradient(165deg, rgb(23, 51, 56)0%, rgb(0, 0, 0)40%);
}

#left-sidebar {
  background: #070101;
  width: 12%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #272727;
}

#logo-hamburger {
  width: 100%;
  height: 5%;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#logo-hamburger img {
  width: 35%;
}

#logo-hamburger p {
  font-size: 1.6em;
  color: whitesmoke;
  margin: 18px;
}

#left-nav {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 0 10px;
}

#left-nav img {
  background: rgb(251, 250, 250);
  border-radius: 50;
  width: 16%;
}